.main-container {
    border: 1px solid black;
    width: 50%;
    height: 1000px;
    display: flex;
    margin: auto;
}

.section1 {
    border: 1px solid black;
    /* width:900px; */
    height: 250px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box1 {
    border: 1px solid blue;
    width:50%;
    height:50%;
}

#profilePic{
    width: 30%;
    height: 70%;
    margin-right: auto;
    margin: 0;
}
p {
    font-size: medium;
    font-weight: bold;
    width: fit-content;
    
    
}
#details {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.box2 {
    border: 1px solid red;
    width:49%;
    height:50%;
}

.box3 {
    border: 1px solid purple;
    /* width: 900px; */
    width: 100%;
    height:50%;
    /* margin-top: auto; */
    margin:auto;
}
